.normal-gallery {
  display: flex;
  justify-content: space-between;
}

.image-item {
  padding: 10px;
  cursor: pointer;
}

.image-item.selected {
  background-color: lightgray;
}

.selected-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-image {
  width: 200px;
  height: 200px;
  background-color: gray;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.scrollableList {
  overflow-y: auto;
  border: 1px solid #cfcfcf;
}

.normal-img {
  margin: 10px;
  border: 1px solid #8b8b8b;
}

.normal-list {
  margin: 10px;
}

@media (max-width: 870px) {
  .normal-img {
    width: 85vw;
    height: auto;
  }

  .normal-list {
    width: 85vw;
    height: 150px;
  }
}

@media (min-width: 871px) {
  .normal-img {
    height: 30vw;
    width: auto;
  }

  .normal-list {
    height: 30vw;
    width: 30vw;
  }
}

.imageContainer {
  display: flex; /* 이미지 컨테이너를 flex로 설정하여 가운데 정렬 적용 */
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 30%;
}
