.normal-gallery {
  display: flex;
  justify-content: space-between;
}

.image-list {
  flex: 1;
  height: 300px;
  overflow-y: scroll;
}

.image-item {
  padding: 10px;
  cursor: pointer;
}

.image-item.selected {
  background-color: lightgray;
}

.selected-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-image {
  width: 200px;
  height: 200px;
  background-color: gray;
}

.scrollableList {
  overflow: scroll;
  width: 40%;
  height: 250px;
}

.normal-img {
  width: 30vw;
  min-width: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.normal-list {
  width: 30vw;
  min-width: 350px;
  height: 20vw;
  min-height: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(211, 211, 211, 0.4);
}

.imageContainer {
  display: flex; /* 이미지 컨테이너를 flex로 설정하여 가운데 정렬 적용 */
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .normal-list {
    width: 100%; /* 799px 이하에서는 한 줄에 하나의 요소만 표시하도록 전체 너비를 100%로 설정 */
  }
  .normal-img {
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
