.slide-in-opacity {
  animation: slide-in-opacity 0.5s ease-out forwards;
}

.slide-out-opacity {
  animation: slide-out-opacity 0.5s ease-in forwards;
}

@keyframes slide-in-opacity {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slide-out-opacity {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}
