.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

.signin-form-style {
  flex-direction: column;
  align-items: center;
  background-color: rgba(250, 250, 250, 0.9);
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.signup-form-style {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto 50px;
  text-align: center;
  align-items: center;
}

/* 문자 배너 (GREEN) */
.banner-center {
  text-align: center;
  background-color: green;
  color: white;
  border-radius: 10px;
  margin: -55px auto 0 auto;
  padding: 15px;
  width: 180px;
}

/* 하이퍼링크 강조 (BLUE)*/
.blue-emphasis {
  color: rgb(59, 59, 193);
  cursor: pointer;
  font-size: 1em;
  font-weight: bolder;
  transition: font-size 0.2s ease-in-out;
}

.blue-emphasis:hover {
  font-size: 1.1em;
}

/* 회원가입 창 */
.sign-up {
  position: absolute;
  right: -100%;
  top: 0;
  height: 100vh;
  width: 90%;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transition: right 0.5s ease-in-out;
}

/* 회원가입창 투명도 효과 */
.sign-up.slide-in-opacity {
  right: 0;
}

.sign-up.slide-out-opacity {
  right: -100%;
  opacity: 0;
}

.slide-in-opacity {
  animation: slide-in-opacity 0.5s ease-out forwards;
}

.slide-out-opacity {
  animation: slide-out-opacity 0.5s ease-in forwards;
}

@keyframes slide-in-opacity {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slide-out-opacity {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}

/* 종료 버튼 커서 ( X == times ) */
.close-btn {
  cursor: pointer;
  font-size: 2em;
  color: rgb(102, 102, 102);
  padding: 20px 30px;
}

hr {
  border: 0;
  border-top: 1px solid hsla(0, 0%, 9%, 0.1);
  margin-bottom: 0rem;
  margin-top: 3vh;
  width: 100%;
}

.response-header {
  font-size: calc(1rem + ((400vw - 300px) / 300));
}
